body {
    font-family: "Meiryo UI";
    font-size: 12pt;
    background-color: #E6E6E6;
}

p.res_lv1 { 
    color: #000000; 
}
p.res_lv2 { 
    color: #000000;
    font-weight: bold;
}
p.res_lv3 { 
    color: #0000ff; 
    font-weight: bold;
}
p.res_lv4 { 
    color: #ff0000; 
    font-weight: bold;
}
p.res_lv5 { 
    color: #dba900; 
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: underline;
}

a.user {
    color: green;
    text-decoration: none;
    font-weight: bold;
}
a.user:hover{
    text-decoration: underline
}

a.send {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
a.send:hover{
    text-decoration: underline
}

a.popup {
}
.tooltip {
    position: absolute;
    padding: 10px;
    display: block;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.8);
    font-size: 12pt;
    font-weight: normal;
}